html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
.header {
  height: 85px;
  width: 1304px;
  color: #fffff;
  float: left;
  background-color: #2ED573;
}

.header-list {
  float: left;
  padding: 29px 25px;
  font-size: 17px;
  color: #fff;

}

.header-logo {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 60px;
  color: #fff;
}

.header-list a {
    padding-right: 15px;
    color: #fff;
}

img.logonya {
    width: 540px;
    height: 254px;
    float: right;
    margin-top: -25px;
}

.main h1,h2 {
    padding-left: 60px;
    letter-spacing: 1px;
    color: #fff;
    padding-top: 15px;
}

.main {
    width: 1304px;
    background-color: #7BED9F;
    padding-top: 195px;
    padding-bottom: 185px;
}

/* foter css */

.footer1 h3 {
  color: #2ED573;
}

.contents-item {
  margin-right: 10px;
  padding-bottom : 15px;
  margin-bottom : 50px;
  padding-left: 75px;
  float: left;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contents-item img {
  width:160px;
  height:80px;
}

.section-title {
  border-bottom: 2px solid #2ED573;
  font-size: 28px;
  padding-bottom : 15px;
  margin-bottom : 50px;
  margin-top: 20px;
}

.footer1 {
  height: 200px;
  padding-top: 20px;
  padding-bottom: 140px;
  background-color: #DFE4EA;
  text-align: center;
  width: 1304px;
}

.footer2 {
  height: 10px;
  margin: auto;
  padding-bottom: 60px;
  background-color: #2ED573;
  text-align: center;
  width: 1304px;
}

.footer2 p {
  font-size: 24px;
  margin-top: 0px;
  color : white;
}

/* Main tambahahan */


.contentss {
  height: 500px;
  padding-bottom: 10px;
  text-align: center;
}

.section-titlee {
  font-size:30px;
  color:#7BED9F;
	border-bottom: 2px solid #7BED9F;
  padding-bottom: 5px;
  padding-left:15px;
  padding-right:15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.contents-itemm {
  float:left;
  margin-right: 0 auto;
  width: 33.3%;
}

.contents-itemm img {
  width: 70%;
  margin-bottom: 25px;
}

.contents-itemm h6 {
  font-size: 25px;
  margin-bottom: 20px;
}

.contents-itemm p {
  width: 40%;
  display: inline-block;
  margin-top:5px;
  font-size:15px;
  border-bottom: 20px solid white;
}
